@model Restaurant

<section class="panel panel-default">
    <div class="panel-heading">@Model.Name</div>
    <div class="panel panel-body">
        Cuisine: @Model.Cuisine
        <div>
            @Html.ActionLink("Details", "Details", new { id = @Model.Id }, new { @class = "btn btn-default" })
            <a class="btn btn-default" asp-action="Edit" asp-route-id=@Model.Id>Edit</a>
        </div>
    </div>
</section>